.Wrapper {
    display: flex;
}

.label {
    margin-left: 5px;
}

.select {
    background: none;
    outline: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 2px 10px 2px 2px;
    margin-left: 15px;
}

.option {
    color: var(--inverted-primary-color);
    background: var(--invert-bg-color);
}

.readonly {
    opacity: 0.7;
}