.app_orange_theme {
    --bg-color: #faf4fb;
    --inverted-bg-color: #bd5012;

    --primary-color: #9a1a0e;
    --secondary-color: #d01f0e;
    --inverted-primary-color: #dbd5dc;
    --inverted-secondary-color: #faf4fb;

    // skeleton
    --skeleton-color: #cf7b0d;
    --skeleton-shadow: #eb9655;

    // code
    --code-bg: #c9c7c7c0;

    // card
    --card-bg: #97410fbc;
}