.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}


.data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loading,
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
}

.editing {
    border: 2px solid var(--inverted-primary-color);
}

.input {

    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    &[type="number"] {
        -moz-appearance: textfield;

        &:hover,
        &:focus {
            -moz-appearance: number-input;
        }
    }
}