.ProfileCard {
    padding: 20px;
    border: 2px solid var(--inverted-bg-color);
}

.header {
    display: flex;
}

.data {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.editBtn {
    margin-left: auto;
}